.Accept-Calling-Button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #28ff28; 
  background-color: #28ff28;
  box-shadow: 0px 3px 10px #28ff28;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}

.Accept-Calling-Button:hover {
  box-shadow: 0px 8px 20px #28ff28;
  background-color: #28ff28;
  color: #fff;
}

.Reject-Calling-Button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ff2828; 
    box-shadow: 0px 3px 10px #ff2828;
    color: #ff2828;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    rotate: 135deg;
  }
  
  .Reject-Calling-Button:hover {
    box-shadow:0px 8px 20px #ff605c;
    background-color: #ff2828;
    color: #fff;
    
  }
